# PORT=5000
# MONGODB_URL=mongodb+srv://bhuwan:bhuwan1399@notesapp.iajcgs3.mongodb.net/bookevent
# EMAIL_USER=bhattbhhuwan1999@gmail.com
# EMAIL_PASS=jxsqexbizvhmevle
# JWT_SECRET=myverystrongsecretkey123456
